.section_space {
    padding-top: 80px;
    padding-bottom: 80px;
}
.cart_update_wrap {
    color: #fff;
    padding: 15px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #f02757;
}
.cart_table table {
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid #eaf0f2;
}
.cart_table table thead {
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}
.cart_table table thead th {
    font-size: 16px;
    font-weight: 500;
    color: #051d43;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.cart_table table>:not(:last-child)>:last-child>* {
    border-bottom: 0;
}
.cart_table table tbody,.cart_table table tbody td {
    vertical-align: middle;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.cart_table .table>:not(caption)>*>* {
    padding: 15px 30px;
}
.cart_table .cart_product {
    display: flex;
    align-items: center;
}
.cart_table .price_text {
    font-weight: 500;
}

.cart_table .remove_btn {
    color: #a5a5a5;
    font-size: 18px;
}
.cart_table .cart_product img {
    flex: 0 0 90px;
    max-width: 90px;
    margin-right: 20px;
}
.cart_table .cart_product h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
.cart_table .cart_product h3 a {
    color: #8b8b8b;
}
.cart_btns_wrap {
    padding: 25px;
    margin-bottom: 50px;
    border: 1px solid #eaf0f2;
}
.container .row {
    margin-left: -15px;
    margin-right: -15px;
}
.coupon_form {
    display: flex;
    align-items: center;
}
.form_item {
    position: relative;
    margin-bottom: 30px;
}
.coupon_form input {
    height: 50px;
    padding: 0 20px;
    border: 1px solid #e3e6e9;
}
.coupon_form .btn {
    min-width: 160px;
    margin: 0 20px 0 10px;
}
.form_item textarea, .form_item input {
    width: 100%;
    outline: 0;
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid #f5f5f5;
    -webkit-transition: .6s cubic-bezier(0.25,1,0.5,1);
    transition: .6s cubic-bezier(0.25,1,0.5,1);
}
.cart_btns_wrap .btn {
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
}
.btn.btn_dark {
    border-color: #252525;
    background-color: #252525;
}
.coupon_form .info_icon {
    color: #a1b1bc;
    font-size: 18px;
    cursor: pointer;
}
.container .col {
    flex: unset;
    padding-left: 15px;
    padding-right: 15px;
}
.cart_btns_wrap .btns_group {
    margin: -10px;
}
.ul_li_right {
    justify-content: flex-end;
}
.cart_btns_wrap .btns_group>li {
    padding: 10px;
}
.ul_li>li, .ul_li_right>li, .ul_li_center>li {
    float: left;
    list-style: none;
    display: inline-block;
}
.cart_btns_wrap .btn {
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
}
.btn.border_black {
    color: #252525;
    border-color: #252525;
}
.calculate_shipping .wrap_title, .cart_total_table .wrap_title {
    line-height: 1;
    font-size: 24px;
    margin-bottom: 20px;
    color: #051d43;
    font-weight: 500;
}
.calculate_shipping .wrap_title .icon, .cart_total_table .wrap_title .icon {
    width: 26px;
    height: 26px;
    color: #fff;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    background-color: #858585;
}
.calculate_shipping .select_option, .calculate_shipping .form_item {
    margin-bottom: 10px;
}
.select_option {
    position: relative;
    margin-bottom: 30px;
}
.calculate_shipping .select_option .nice-select {
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 20px;
    border: 1px solid #e3e6e9;
}
.select_option .nice-select {
    width: 100%;
    height: 60px;
    padding: 0 35px;
    line-height: 60px;
    border-radius: 3px;
    position: relative;
    border: 1px solid #f5f5f5;
    -webkit-transition: .6s cubic-bezier(0.25,1,0.5,1);
    transition: .6s cubic-bezier(0.25,1,0.5,1);
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: 0;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left!important;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}
.calculate_shipping .select_option .nice-select .current {
    font-weight: 500;
    color: #051d43;
}
.select_option .nice-select .list {
    width: 100%;
    border: 0;
    margin-top: 5px;
    padding: 12px 0;
    border-radius: 0;
    min-width: 220px;
    -webkit-box-shadow: 0 20px 60px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 20px 60px 0 rgb(0 0 0 / 15%);
}
.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all .2s cubic-bezier(0.5,0,0,1.25),opacity .15s ease-out;
    transition: all .2s cubic-bezier(0.5,0,0,1.25),opacity .15s ease-out;
    z-index: 9;
}
.select_option .nice-select .list>li:not(:last-child) {
    border-bottom: 1px solid #ededed;
}
.select_option .nice-select .list>li {
    line-height: 1;
    font-size: 15px;
    padding: 15px 30px;
    color: #052840;
    white-space: break-spaces;
}
.select_option .nice-select .option {
    padding: 0 25px;
    min-height: 40px;
    line-height: 40px;
    -webkit-transition: .6s cubic-bezier(0.25,1,0.5,1);
    transition: .6s cubic-bezier(0.25,1,0.5,1);
}
.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: 0;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.select_option .nice-select .list>li:hover, .select_option .nice-select .list>li.selected {
    font-weight: 400;
    color: #e23e1d;
    background-color: rgba(199,161,122,0.04);
}
.select_option .nice-select .list>li {
    line-height: 1;
    font-size: 15px;
    padding: 15px 30px;
    color: #052840;
    white-space: break-spaces;
}
.select_option .nice-select .option {
    padding: 0 25px;
    min-height: 40px;
    line-height: 40px;
    -webkit-transition: .6s cubic-bezier(0.25,1,0.5,1);
    transition: .6s cubic-bezier(0.25,1,0.5,1);
}
.nice-select .option.selected {
    font-weight: bold;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: 0;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.calculate_shipping .select_option .nice-select:after {
    width: 50px;
    -webkit-transform: unset;
    transform: unset;
    position: static;
    text-align: center;
    border-left: 1px solid #e3e6e9;
}
.select_option .nice-select::after {
    width: auto;
    height: auto;
    float: right;
    font-weight: 400;
    content: "ï„‡";
    transform: unset;
    position: static;
    font-family: "Font Awesome 5 Pro";
    margin: 0px 0px 0px 5px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1) 0s;
}
.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    width: 5px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.calculate_shipping .row {
    margin-left: -5px;
    margin-right: -5px;
}
.calculate_shipping .form_item input {
    height: 50px;
    padding: 0 20px;
    border: 1px solid #e3e6e9;
}
.calculate_shipping .btn {
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
}
.btn.btn_primary {
    border-color: #f02757;
    background-color: #f02757;
}
.cart_total_table ul {
    border: 1px solid #e3e6e9;
}
.ul_li_block {
    margin: 0;
    padding: 0;
    display: block;
}
.cart_total_table li:not(:last-child) {
    border-bottom: 1px solid #e3e6e9;
}
.cart_total_table li {
    display: flex;
    align-items: center;
}
.cart_total_table span:first-child {
    font-weight: 500;
    background-color: #f9fbfb;
}
.cart_total_table span:not(:last-child) {
    border-right: 1px solid #e3e6e9;
}
.cart_total_table span {
    flex: 0 0 50%;
    color: #333;
    max-width: 50%;
    padding: 13.5px 20px;
}
.cart_total_table .total_price {
    color: #1abc9c;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
