.header {
    border-bottom: 1px solid #e5e5e5;
    border-color: rgba(255, 255, 255, 0.1);
}
.header-top {
    border-bottom: 1px solid #e5e5e5;
    border-color: rgba(255,255,255,0.1);
}
.d-blue-bg {
    background-color: #263C97;
}

.header-inner-start {
    display: flex;
    align-items: center;
}
.header-inner-start .border-right {
    position: relative;
    display: flex;
    align-items: center;
}

.header-inner-start .border-right::before {
    position: absolute;
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    bottom: 14px;
    right: -35px;
    content: "";
}

.header-inner-start .s-name span {
    color: #fff;
    font-size: 14px;
    display: block;
    top: -2px;
    position: relative;
    margin-right: 2px;
}

.header-inner-start .support p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
    transition: .3s;
}

.header-inner-start .border-right::before {
    position: absolute;
    width: 1px;
    height: 16px;
    background: rgba(255, 255, 255, 0.4);
    bottom: 2px;
    right: -155px;
    content: "";
}
.header-inner-start .s-name span {
    color: #fff;
    font-size: 14px;
    display: block;
    top: -2px;
    position: relative;
    margin-right: 2px;
}
.header-inner-start .header__currency {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.ovic-menu-wrapper ul li {
    display: inline-block;
    margin-right: 35px;
    position: relative;
}
.ovic-menu-wrapper{
    display: flex;
    align-items: center;
    justify-content: end;
}
.ovic-menu-wrapper ul{
    margin-bottom: 0;
    margin-top: 0;
}


@media (min-width: 768px) {
    .text-md-end {
        text-align: right !important;
    }
}

/**
    header middle
 */
.heade-mid-inner {
    padding: 30px 0;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 2;
}

.header__info-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-3 .logo-image img {
    width: 180px;
}

.logo .logo-image img {
    display: block;
    max-width: 210px;
    padding: 5px 0;
}

.side-menu-btn {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.side-menu-btn svg {
    font-weight: 900;
    /*font-size: 30px;*/
}

.header__search {
    margin-left: -30px;
    width: 630px;
}
.header__search form {
    position: relative;
}
.header__search-box {
    width: 100%;
    position: relative;
}
.header__search-box .search-input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    border: 2px solid #fff;
    outline: 0;
    padding: 0 15px;
    padding-left: 170px;
    padding-right: 60px;
}
.header__search-box::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 160px;
    height: 45%;
    width: 1px;
    background: #E0E0E0;;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header__search-box .button-3 {
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    border-radius: 2px 2px 2px 2px;
    background-color: #16bcdc;
    color: #fff;
    display: flex;
    align-items: center;
}
.header__search-cat {
    position: absolute;
    top: 50%;
    left: 20px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.header__search-box .button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: 50px;
    font-weight: 700;
    color: #FFF;
    display: block;
    line-height: 50px;
    padding: 0 15px;
    font-size: 20px;
    background: #fcbe00;
    border-radius: 0 4px 4px 0;
    text-transform: capitalize;

}

.category-select {
    width: 12%;
    position: absolute;
    top: -130px;
}

.header-action {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}

.header-action .icon-link {
    display: flex;
}

.header-action .icon-link svg {
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
    color: #fff;
    margin-right: 10px;
}

.header-action .icon-link span {
    font-size: 13px;
    line-height: 1.1;
    display: block;
    color: #fff;
}

.header-action .icon-link-2 .text {
    color: #fff;
}

.header-action .icon-link-2 .sub {
    color: #fff;
}

.header-action .action {
    position: relative;
}

.header-action .icon-link .flaticon-heart {
    position: relative;
    top: 2px;
}

.header-action .icon-link .count {
    position: absolute;
    top: -3px;
    left: 15px;
    text-align: center;
    min-width: 20px;
    font-size: 12px;
    line-height: 14px;
    padding: 3px;
    border-radius: 90px;
    background: #fcbe00;
    color: #222;
}

.header-action .icon-link .count-2 {
    background: #16bcdc;
    color: #fff;
}

.cart__mini {
    position: absolute;
    top: 120%;
    right: 0;
    width: 350px;
    background: #fff;
    border-radius: 4px;
    z-index: 11;
    border-top: 2px solid #fcbe00;
    padding: 35px 25px;
    visibility: hidden;
    overflow: auto;
    max-height: 650px;
    opacity: 0;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
}

.cart__title {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.cart__title h4 {
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
}

.cart__title span {
    font-size: 13px;
    margin-left: 5px;
    display: block;
}

.cart__item {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.cart__thumb {
    margin-right: 15px;
}

.cart__thumb img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

h6 {
    font-size: 14px;
}

.cart__price span {
    color: #fcbe00;
}

.cart__sub {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart__sub h6 {
    margin-bottom: 0;
}

.cart__sub-total {
    font-size: 14px;
    font-weight: 500;
    color: #fcbe00;
}

.wc-cart {
    display: inline-block;
    width: 100%;
    background: #fcbe00;
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    border: 1px solid transparent;
    transition: .3s;
}

.cart__del span svg {
    font-size: 16px;
    cursor: pointer;
}

.block-cart:hover > .cart .cart__mini {
    visibility: visible;
    opacity: 1;
    top: 100%
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .header__search {
        width: 490px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header__search {
        margin-left: 0;
        width: 350px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 576px) and (max-width: 767px) {
    .header-action {
        margin-left: 70px!important;
        width: 100%;
    }

}
@media (max-width: 575px){
    .header-action {
        margin-left: 0;
        margin-top: 20px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .header-action .icon-link span {
        font-size: 12px;
    }
}
.header__bottom .box-items-inner {
    display: flex;
    justify-content: space-between;
}
.header__bottom .box-item a {
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.header__bottom .box-item a svg {
    font-size: 30px;
    line-height: 40px;
    margin-inline-end: 15px;
}
