.light-bg-s {
    background-color: rgb(244, 245, 247);
}

.slider-wrapper {

}

.b-radius-2 {
    border-radius: 20px;
}

.slider-content-2 {
    left: 60px;
    bottom: 90px;
}
.slider-title {
    color: #fff;
    font-weight: 600;
}
.slider-content .slider_text {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.slider-content-2 h2{
    font-size: 36px;
}

.slider-image-wapper {
    position: relative;
}

.slider-image-wapper .slider-content {
    position: absolute;

}
.st-btn-border {
    font-size: 13px;
    font-weight: 500;
    padding: 10px 52px;
    background-color: transparent;
    color: #fff!important;
    border: 2px solid #fff;
    border-radius: 30px;
    display: inline-block;
    text-transform: uppercase;
}
.slider-image {
    width: 100%;
    object-fit: cover;
    transition-duration: 0ms;
    opacity: 1;
    border-radius: 18px;
    height: 430px;
}

.p-relative {
    position: relative;
}
.banner__img {
    overflow: hidden;
}
.banner__img img {
    min-height: 200px;
    transition: all .3s ease-out 0s;
}
.w-img img {
    width: 100%;
}
.banner__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 40px 30px 40px;
}
.banner__content-2 h6 {
    transition: .3s;
}
.banner__content h6 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
}
.banner__content h6 a{
    color: #fff!important;
    font-weight: 600;
}
.banner__content p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

@media (min-width: 1400px) {
    .custom-container {
        max-width: 1730px;
    }
}

/*@media (min-width: 1400px) {*/
/*    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {*/
/*        max-width: 1440px;*/
/*    }*/
/*}*/

