.ft-medium {
    font-weight: 500;
}

.fs-md {
    font-size: 16px !important;
}

.lh-1 {
    line-height: 1;
}

.dashboard_author > ul > li > a {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.dashboard_author > ul > li > a .anticon {
    font-size: 20px;
    margin-right: 13px;
}

@media (min-width: 993px) {
    .miliods {
        padding-right: 2.5rem;
    }
}

