body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,a:hover{
  text-decoration: none;
}
ul, li {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

main {
  min-height: 80vh;
}

.banner__area img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 4px;
  transition: all .3s ease-out 0s;

}
.banner__area .banner__img a {
  display: block;
  overflow: hidden;
  text-decoration: none!important;

}
.banner__area .banner__img a > img:hover{
  transform: scale(1.1);
}
@media only screen and (min-width: 767px) and (max-width: 1200px)  {
  .banner__area img{
    width:350px;
  }

}
@media only screen and (min-width: 766px) {
  .banner__area img{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.banner__area .banner__item{
  position: relative;
}
.banner__area .banner__item .banner__content {
  position: absolute;
  left: -7px;
  bottom: -69px;
  color: #FFFFFF;
}

.banner__area .banner__item .banner__content h6 {
  font-size: 28px;
}

.features__icon svg {
  font-size: 40px;
  color: #fcbe00;
}

.features__item {
  border-right-color: coral;
  border-right-style: dotted;

}

.mr-20 {
  margin-right: 20px;
}

.pd-rating {
  display: flex;
  align-items: center;
}

.rating, .rating > li {
  text-align: left;
  padding: 0;
  margin: 0;
}

.rating {
  transition: .3s;
  display: flex;
  align-items: center;
}

.product__details-content .pd-rating .rating {
  margin-right: 20px;
}

.rating > li {
  display: flex;
  align-items: center;
}

.product__details-content .pd-rating ul li a {
  margin-right: 5px;
  font-size: 15px;
  color: #fcbe00;
}

.product__details-content .pd-rating span {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  color: #999;
  position: relative;
}

.product__details-content .price {
  border-bottom: 1px solid #e5e5e5;
}

.product__details-content .price span {
  display: inline-block;
  font-size: 24px;
  line-height: 1.25;
  color: #222;
  font-weight: 700;
  padding-bottom: 20px;
}
.product__details-content .features-des ul li{
  padding-bottom: 5px;
}
.product__details-content .features-des ul li a {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #333333;
  font-weight: 500;
}
.product-stock h5 {
  color: #222;
  font-weight: 500;
  font-size: 14px;
}
.product-stock h5 span {
  color: #16bcdc;
  margin-left: 10px;
  font-weight: 700;
}
.cart-option {
  display: flex;
  align-items: center;
}
.details-meta {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
.d-meta-left {
  display: flex;
}
.dm-item a {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
}
.product_info {
  display: block;
}
.product_info .sku_wrapper, .product_info .posted_in, .product_info .tagged_as {
  display: block;
  font-weight: 500;
}
.product_info .title {
  width: 110px;
  padding-inline-end: 10px;
  display: inline-block;
  vertical-align: top;
  color: #222;
}
.product_info span {
  font-size: 14px;
}
.product__details-nav .nav-tabs {
  border-bottom: 0;
}
.mt-15 {
  margin-top: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pt-80 {
  padding-top: 80px;
}

.footer__widget {
  margin-bottom: 40px;
}

.footer__widget-title h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 18px;
  font-weight: 700;
}

.footer__widget-content p {
  color: #999;
}

.mr-15 {
  margin-right: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.footer__hotline .icon svg {
  font-size: 55px;
  color: #fcbe00;
}

.footer__hotline .text h4 {
  font-size: 14px;
  color: #999;
  margin-bottom: 0;
}

.footer__info ul li span {
  font-size: 14px;
  color: #999;
}

.copy-right-area p {
  color: #999;
}

.footer__link ul li > a {
  color: #FFFFFF !important;
}
.footer__link ul li{
  padding-bottom: 8px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.pt-60 {
  padding-top: 60px;
}
.pr-20 {
  padding-right: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-20{
  margin-top: 20px;
}
a:hover{
  text-decoration: none!important;
}
